.CreateNewItemContainer {
    display: flex;
    height: var(--small-height);
    background-color: var(--tint-primary-color);
}

.CreateNewItemContainer:hover {
    background-color: var(--action-hover-color);
}

.CreateNewItemContainer:active {
    background-color: var(--action-selected-color);
}

.CreateNewItemText {
    margin: auto;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
    color: var(--text-primary-color);
}
