@import url(../../Global/Spacing.css);
@import url(../../Global/Colors.css);
@import url(../../Global/Fonts.css);

.CreateNewItemContainer {
    display: flex;
    height: var(--small-height);
    background-color: var(--secondary-bg-color);
}

.CreateNewItemContainer:hover {
    background-color: var(--border-color);
}

.CreateNewItemText {
    margin: auto;
    font-size: var(--large-font);
    font-weight: bolder;
    cursor: pointer;
}
