.NoteInfoCardContainer {
    display: flex;
    flex-direction: column;
    height: var(--x-large-height);
    color: var(--text-primary-color);
    border-bottom-style: solid;
    border-color: var(--border-primary-color);
    border-width: 1px;
}

.NoteInfoCardHeader {
    display:flex;
    width:100%;
    height: var(--x-small-height);
}

.NoteInfoCardContent {
    width: 100%;
    padding-left: var(--horizontial-padding);
    color: var(--text-disabled-color);
    cursor: pointer;
    flex-grow: 1;
}

.NoteInfoCardTitle {
    flex-grow: 1;
    padding-left: var(--horizontial-padding);
    margin: auto;
    cursor: default;
}

.NoteInfoCardClose {
    width: var(--small-height);
    margin: auto;
    text-align: center;
    font-size: x-large;
    color: red;
    cursor: pointer;
}

.NoteInfoCardClose:hover {
    font-weight: bolder;
}
