.NoteInfoCardContainer {
    display: flex;
    flex-direction: column;
    height: var(--xx-large-height);
    border-bottom-style: solid;
    border-color: var(--border-primary-color);
    border-width: 1px;
    padding-left: var(--padding-horizontal-regular);
}

.NoteInfoCardHeader {
    display:flex;
    width:100%;
    height: var(--height-x-small);
}

.NoteInfoCardContent {
    width: 100%;
    color: var(--text-secondary-color);
    cursor: pointer;
    flex-grow: 1;
}

.SelectedNote {
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: var(--tint-primary-color);
    padding-left: var(--padding-horizontal-small);
}

.NoteInfoCardFooter {
    width: 100%;
    height: var(--height-xx-small);
    text-align: right;
    padding-right: var(--padding-horizontal-regular);
    color: var(--text-disabled-color);
}

.NoteInfoCardSearchIcon{
    width:30px;
    height:20px;
    margin:auto;
    fill: var(--tint-tertiary-color);
    padding-right: var(--padding-horizontal-small);
}

.NoteInfoCardTitle {
    flex-grow: 1;
    color: var(--text-primary-color);
    margin: auto;
    cursor: default;
}

.NoteInfoCardClose {
    width: var(--height-small);
    margin: auto;
    text-align: center;
    font-size: x-large;
    color: red;
    cursor: pointer;
}

.NoteInfoCardClose:hover {
    font-weight: bolder;
}
