.SideMenuItemContainer {
    display: flex;
    height: var(--X-large-height);
    color: var(--text-primary-color);
    border-bottom-style: solid;
    border-color: var(--border-primary-color);
    border-width: 1px;
}

.SideMenuItemHeader {
    display:flex;
    width:100%;
    height: var(--small-height);
}

.TextContainer {
    margin: auto;
    flex-grow: 1;
    padding-left: var(--horizontial-padding);
}

.Text {
    cursor: pointer;
}

.Text:hover {
    color: var(--text-disabled-color);
}

.Text:active {
    color: var(--text-secondary-color);
}

.Close {
    width: var(--small-height);
    margin: auto;
    text-align: center;
    font-size: x-large;
    color: red;
    cursor: pointer;
}

.Close:hover {
    font-weight: bolder;
}
