.SideMenuContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--bg-primary-color);
    border-right-style: solid;
    border-right-color: var(--border-primary-color);
    border-right-width: 1px;
}

.SearchContainer {
    display: flex;
    height: var(--medium-height);
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-primary-color);
}

.SearchBox {
    height: 30px;
    border-radius: 5px;
    width: 80%;
    background-color: var(--bg-secondary-color);
    border-color: var(--border-primary-color);
    outline: none;
    caret-color: var(--text-secondary-color);
    color: var(--text-secondary-color);
    padding-left: var(--padding-horizontal-small);
    padding-right: var(--padding-horizontal-small);
}

.NoteListContainer {
    width: 100%;
    overflow: auto;
}

.CreateItemContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.EmptySpace {
    flex: 1;
}
