@import url(../../Global/Spacing.css);
@import url(../../Global/Colors.css);

.SideMenuContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--primary-bg-color);
    border-right-style: solid;
    border-right-color: var(--border-color);
    border-right-width: 1px;
}

.NoteListContainer {
    width: 100%;
    overflow: auto;
}

.CreateItemContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.EmptySpace {
    flex: 1;
}
