
.Text {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.Body1 {
    font-weight: var(--font-weight-medium);
    font-size: 15px;
    letter-spacing: 0.5px;
}

.Body2 {
    font-weight: var(--font-weight-regular);
    font-size: 13px;
    letter-spacing: 0.25px;
}

.SubTitle1 {
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    letter-spacing: 0.15px;
}

.SubTitle2 {
    font-weight: var(--font-weight-medium);
    font-size: 14px;
    letter-spacing: 0.1px;
}

.Caption {
    font-weight: var(--font-weight-regular);
    font-size: 11px;
    letter-spacing: 0.4px;
}

.Button {
    font-weight: var(--font-weight-medium);
    font-size: 14px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}
