:root {
    --text-primary-color: #fff;
    --text-secondary-color: rgba(255, 255, 255, 0.7);
    --text-disabled-color: rgba(255, 255, 255, 0.5);

    --bg-primary-color: #303030;
    --bg-secondary-color: #424242;

    --border-primary-color: rgba(255, 255, 255, 0.12);
    --border-secondary-color: lightgrey;

    --action-primary-color: #424242;
    --action-hover-color: rgba(255, 255, 255, 0.08);
    --action-selected-color: rgba(255, 255, 255, 0.16);

    --tint-primary-color: #0D47A1;
    --tint-secondary-color: #1565C0;
    --tint-tertiary-color: #1976D2;
}
