:root{
    --horizontial-padding: 20px;
    --vertical-padding: 10px;
    --x-small-height: 30px;
    --small-height: 40px;
    --medium-height: 60px;
    --large-height: 80px;
    --x-large-height: 100px;
    --xx-large-height: 120px;
}
