:root{
    --padding-horizontal-regular: 20px;
    --padding-horizontal-small: 10px;
    --vertical-padding: 10px;

    --height-x-small: 30px;
    --height-xx-small: 20px;
    --height-small: 40px;
    --medium-height: 60px;
    --large-height: 80px;
    --x-large-height: 100px;
    --xx-large-height: 120px;
}
