@import url(../../Global/Colors.css);

:root{
    --horizontial-padding: 10px;
}

.Separator {
    width: 50%;
    float: left;
    margin-left: var(--horizontial-padding);
}

.CreateNoteContainer {
    height: 100%;
    width: 100%;
    background-color: grey;
}
