

.Separator {
    width: 50%;
    float: left;
    margin-left: var(--padding-horizontal-regular);
}

.CreateNoteContainer {
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary-color);
    display: flex;
    flex-direction: column;
    color: var(--text-primary-color);
}
