@import url(./Global/Colors.css);
@import url(./Global/Spacing.css);
@import url(./Global/Fonts.css);

.ItemContainer{
    display: flex;
    border-style: solid;
    border-width: 1px;
    height: 100%;
}

.Editor {
    flex-grow: 1;
}

.SideMenu {
    width: 250px;
}
